body {
  margin: 0;
  padding: 0;
}

#map {
  width: 100vw;
  height: 100vh;
}
.header-wrap {
  position: absolute;
  top: 0;
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  left: 25px;
  right: 25px;
}
header {
  background: #2a2a2a;
  opacity: 0.8;
  color: white;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 120%;
  align-items: center;
  display: flex;
}
header img {
  width: 40px;
}

#sidebar-overlay {
  background-color: #2a2a2a;
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
}

.total {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 15px;
}

.table {
  font-family: "Montserrat", sans-serif;
  color: white;
  border-collapse: collapse;
}
